<html>
  <head>
    <!--link rel="stylesheet" href="/static/mpg.css" / -->
    <title>Travel Destination Recommender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/recommender.css" />
  </head>
  <body>
    <div class="container">

      <!-- header -->


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand awesome1" href="#">Travel Time</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link awesome1" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link awesome1" href="#about">About Travel Time</a>
            </li>
            <li class="nav-item">
              <a class="nav-link awesome1" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <!-- body -->

      <div class="row">
        <div class="col">
          <h1 class="display-4 awesome1">Travel Destination Recommender</h1>
        </div>
      </div>

      <!-- body2 -->
      <header class="intro-header">
        <div class="container awesome2">
          <div class="intro-message">
            <h2>Travel Time</h1>
            <h3>Your personal travel destination finder</h3>
            <h5>Ready to find the next destination? <br> Let's find your perfect match</h5>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li class="list-inline-item">
                <a href="/signin" class="btn btn-secondary btn-lg">
                  <span class="network-name">  Sign in   </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/predict" class="btn btn-secondary btn-lg">
                  <span class="network-name">Match with similar user</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/quiz" class="btn btn-secondary btn-lg">
                  <span class="network-name">Take a quiz</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <!-- form -->

      <!-- example -->
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="cityselector">   City Type     </label>
            </div>
            <select class="custom-select" id="cityselector">
              <option selected>Choose one city type...</option>
              <option value="0">Dynamic cities, bars, night, amazing</option>
              <option value="1">Popular cities, history, museums, enjoyable</option>
              <option value="2">Family-oriented cities, kids, shopping, lovely</option>
              <option value="3">Beach resort, harbour, memorial, refreshing</option>
              <!-- <option value="4">Family, Kid</option> -->
            </select>
          </div>
        </div>
        <div class="col">
          </div>


        </div>
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="userselector"> Traveler Type </label>
              </div>
              <select class="custom-select" id="userselector">
                <option selected>Choose one user type...</option>
                <option value="25"> Male, age 25-34 , Openness, Conscientiousness, Agreeableness, Neuroticis,
                                    Backpacker, Beach Goer, Nature Lover, Nightlife Seeker</option>
                <option value="168">Female, age 25-34, Conscientiousness, Extraversion, Agreeableness, Beach Goer,
                                    Nightlife Seeker, Urban Explorer</option>
                <option value="38">Male, age 35-49 , Openness, Like a Local, Thrill Seeker, Nightlife Seeker</option>
                <option value="18">Female, age 35-49, Extraversion, Agreeableness, Foodie, Luxury Traveller,
                                   Trendsetter</option>
                <option value="125">Male, age 50-64, Agreeableness, Neuroticis, Nature Lover, Thrifty Traveller,
                                    Eco-tourist, Trendsetter</option>
                <option value="27">Female, age 50-64, Neuroticism, Beach Goer, History Buff, Nature Lover, Vegetarian</option>
              </select>
            </div>
          </div>
          <div class="col">
            </div>

            </div>
          <div class="row">
                <div class="col">
                  <!-- Button trigger modal -->
                  <button id="inference" type="submit" class="btn btn-primary" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> Where to next!  </button>
                </div>

                <div class="col">
                  <input id="recommender1" type="text" readonly />
                  <!-- <img id="city-url" class="img-thumbnail" src="http://via.placeholder.com/350x150" /> -->
                  <input id="city1-country" />

              <!-- Modal -->
              <!-- <class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"> Time to pack up! </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input id="recommender" type="text" readonly />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                  </div> -->

              </div>
              <div class="col">
                <input id="recommender2" type="text" readonly />
                <input id="city2-country" />
                </div>
            </div>


      </div>
    </div>





      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="static/recommender.js"></script>
  </body>
</html>
